* {
    font-family: "Lato";
    margin: 0;
    padding: 0;
}

html {
    background-color: #151515;
}

h1, h2 {
    color: #FFFFFF;
    font-family: Lato;

}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    background: #151515;
    max-width: 1440px;
    margin: 0 auto;
}

img {
    height: 720px;
    width: 470px;
}

/* Cross-page styling */

.menu {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: auto;
    justify-content: space-between;
    margin-top: 1em;
    margin-left: 1in;
    margin-right: 1in;
}

.menu__header {
    margin-top: 0.5em;
}

.menu__header a {
    text-decoration: none;
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
}

.menu__right ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: 1.25em;
    z-index: 2;
}

.socials {
    z-index: 2;
}

.socials a img {
    height: 24px;
    width: 24px;
    padding: 0 1em;
    fill: #D9D9D9;
    z-index: 2;
}

.introduction {
    display: flex;
    flex-direction: column;
}

.introduction__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.introduction__top--left {
    display: flex;
    flex-direction: column;
    margin-left: 1in;
    margin-right: 1in;
}

.introduction__top--left h2 {
    font-family: Lato;
    font-size: 72px;
    line-height: 72px;
    position: relative;
}

.introduction__top--left p {
    margin-top: 3em;
    width: 550px;
}

.introduction__top--left a {
    margin-top: 4em;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    text-underline-offset: 8px;
}

.introduction__top--right img {
    margin-top: -8.35em;
    margin-right: 1in;
    z-index: -1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

}

.introduction__top--break {
    color: #FFFFFF;
    margin-top: 2em;
}


.introduction__bottom {
    display: flex;
    flex-direction: column;
}

.introduction__bottom--header {
    margin: 0 auto;
}

.introduction__bottom--header h2 {
    margin-top: 0.5em;
    font-size: 60px;
    text-decoration: underline;
    text-underline-offset: 20px;
}

.introduction__bottom--body {
    display: flex;
    flex-direction: column;
    background-color:  #D9D9D9;
    border-radius: 25px;
    margin: 4em auto;
    width: 70%;
    min-width: 1000px;
}

.introduction__bottom--top, .introduction__bottom--bottom {
    display: flex;
    flex-direction: row;
    margin: 4em auto;
}

.introduction__bottom--top h2 {
    font-size: 32px;
    line-height: 40px;
    padding: 0 6em 0 6em;
}

.introduction__bottom--top img, .introduction__bottom--bottom img {
    height: 250px;
    width: 250px;
    padding: 0 2em;

}





.portfolio {
    display: flex;
    flex-direction: column;
    margin-top: 6em;
    margin-left: 1in;
}

.portfolio__header {
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color:#FFFFFF;
    text-underline-offset: 16px;
}

.portfolio__projects {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}

.portfolio__project {
    display: flex;
    flex-direction: column;
}

.portfolio__project h3 {
    font-family: "Open Sans", sans-serif;
    color:#FFFFFF;
    font-size: 18px;
    line-height: 32px;
}

.portfolio__project p {
    color: #D9D9D9;
}

.portfolio__project a {
    height:fit-content;
    width: fit-content;
}

.portfolio__project img {
    margin-top: 4em;
}

#dalle {
    height: 600px;
    width: fit-content;
}

#tipper {
    height: 600px;
    width:fit-content;
}

/* Contact page styling */



.contact {
    display: flex;
    flex-direction: column;
    background-color: #242424;
    margin-top: 4em;
}

.contact__body {
    display: flex;
    flex-direction: column;
    background: #242424;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 2em;
}

.contact__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    max-width: 1440px;
    min-width: 1440px;
}

.contact__header {
    font-size: 2em;
    color: #FFFFFF;
}

.contact__link {
    text-align: rig;
    color: #FFFFFF;
    font-size: 1.5em;
    margin-top: 1em;
    text-underline-offset: 8px;
}

.contact__top--break {
    display: flex;
    margin-top: 3em;
}

.contact__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Responsive layout */

@media only screen 
    and (max-width: 768px) { 
        .menu {
            display: inline-flex;
        }
        .content--home h2 {
            font-size: 2em;
            margin-top: 2em;
            
        }


}

